/** 시간나면 반응형으로 만들기 **/

/*********** header ***********/
header {
    background-color: #03A9F4;
    width: 100%;
    height: 54px;
    margin: 0, auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

header #logo{
    
}

header #logo a{
    color: #fff;    
    font-weight: bolder;
}



/*********** nav ***********/
nav{
    background-color: #fff;
    width: 100%;
    height: 45px;
    margin: 0, auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav #nav_menu{
    width: 100%;
    height: 100%;

    border: 1px solid #b2bccd;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

nav #nav_menu .nav_target{
    width: auto;        
    height: 100%;
    margin: 0 50px;
    
    display: flex;  
    justify-content: center;  
    align-items: center;    
}

nav #nav_menu .nav_target a{
    min-width: 50px;
    height: 100%;
    line-height: 45px;
    text-align: center;

    box-sizing: border-box;    
    font-size: 15px;
}

nav #nav_menu .nav_target a:hover, .nav_clicked{
    color: #03A9F4;    
    border-bottom: 3px solid #03A9F4;
}



/*********** article ***********/
article {    
    padding: 25px 0 35px 0;
    background-color: #dfe3eb;
}

article #content{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article #content .content_top{
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article #content .content_top h2{
    margin: 10px 0;
    font-size: 1.6em;
    font-weight: bolder;
}

article #content .content_top hr{
    width: 300px;
    border-top: 3px solid #bbc4d2;
}

article #content .content_top p{
    color: #6c6c6c;
}

/* 화면 좁아지면 세로 화면으로 변경하기 : flex-direction, margin 위아래로 생기게 조정하기 */
article #content .content_pannel {
    padding: 15px;    

    display: flex;    
    justify-content: center; 
    align-items: center;
}

article #content .content_pannel .content_rank{
    width: 250px;
    height: 500px;

    margin: 0 10px;
    padding: 40px 20px;
    
    background-color: #fff;
    border: 1px solid #bbc4d2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;       
}

article #content .content_pannel .content_rank .rank_date{
    width: 100%;
    margin: 0 0 20px 0; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article #content .content_pannel .content_rank .rank_date p{
    margin: 5px 0;
    font-size: 23px;
    font-weight: bold;
}

article #content .content_pannel .content_rank .rank_set{
    margin-left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

article #content .content_pannel .content_rank .rank_set .rank_list{
    margin: 5px 0;
    padding: 5px 0;
}

article #content .content_pannel .content_rank .rank_set .rank_list .rank_box{
    width: 20px;
    height: 20px;
    margin: 0 15px 0 0;
    display: inline-block;

    
    font-size: 12px;
    color: #000;
    text-align: center;
    line-height: 22px;    
    background-color: #dfe3eb;
    border: 1px solid #e1e2e5;    
    border-radius: 20px;
}


article #content .content_pannel .content_description{
    width: 400px;
    height: 500px;

    margin: 0 0 0 10px;
    padding: 40px 20px;
    
    background-color: #fff;
    border: 1px solid #bbc4d2;    
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: scroll;
}


article #content .content_pannel .content_description .description_head{
    height: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

article #content .content_pannel .content_description .description_head p{
    color: #000;
    font-size: 23px;
    font-weight: bold;
}

article #content .content_pannel .content_description .description_head hr{
    width: 200px;
    border-top: 2px solid #bbc4d2;
}

article #content .content_pannel .content_description .description_body{
    height: 60%;

    margin: 30px 0;

    display: flex;
    justify-content: center;    
    align-items: flex-start;
}

article #content .content_pannel .content_description .description_body #description_msg{
    width: 90%;    
    white-space: normal;
    word-break: break-all;

    font-size: 20px;
    font-weight: lighter;
    line-height: 2.0em;    
}

article #content .content_pannel .content_description .description_comment{    
    height: 30%;        
    
    font-size: 15px;
    font-weight: lighter;
}

article #content .content_pannel .content_description .description_comment .comment_input_area{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

article #content .content_pannel .content_description .description_comment .comment_input_area .comment_input{
    margin: 0 13px 0 0;
}

article #content .content_pannel .content_description .description_comment .comment_input_area input[type=text]{
    height: 30px;
    font-size: 13px;
    padding-left: 5px;
}

article #content .content_pannel .content_description .description_comment .comment_input_area input[type=submit]{
    width: 35px;
    height: 35px;

    line-height: 35px;
    background-color: #b8b8b8;
    color: #fff;
    font-size: 13px;
    border: none;
    border-radius: 0;
    cursor: pointer;

}

article #content .content_pannel .content_description .description_comment .comment_input_area input[type=submit]:hover{    
    background-color: #03a9f4;
}

article #content .content_pannel .content_description .description_comment .comment_dp_area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


article #content .content_pannel .content_description .description_comment .comment_dp_area .comment{
    width: 80%;
    display: flex;    
    justify-content: center;   
    align-items: center; 

    box-sizing: border-box;
    padding: 10px 0;
    margin: 10px 0;

    font-size: 12px;
}

article #content .content_pannel .content_description .description_comment .comment_dp_area .comment #comment_name{
    width: 20%;
    text-align: center;
}

article #content .content_pannel .content_description .description_comment .comment_dp_area .comment #comment_content{
    width: 80%;
    line-height: 1.5em;
}

article #timer_bg{
    width: 100%;
    position: relative;
}



/*********** footer ***********/
footer {
    background-color: #3a3a3a;
    padding: 30px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .footer_inner{
    margin: 15px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer_inner img{    
    width: 20%;
    height: 20%;
}

footer .footer_inner p{           
    font-size: 14px;
    color: #8e8e8e;
}

footer .footer_inner a{    
    margin: 0 10px;
    color: #8e8e8e;
}

footer .footer_inner a:hover{
    color: #5d5d5d;
}


/*********** timer ***********/
.timer_pannel{
   width: 100%;
   height: 10px;
   border: 1px solid black;
   background-color: grey;
}





/*********** login-page ***********/

