		<!-- footer -->
        <footer>
            <div class="footer_inner">
                <img src="https://d2hmp4n7p97ldw.cloudfront.net/assets/logo/likelion-white-a930fbcdf3042a50ba882ece9c02f43536971297a8e143e212d9b92d653bfa44.png"/>
            </div>

            <div class="footer_inner">                
                <a href="http://jinbroing.tistory.com/" target="_blank"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/jinbroyo" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>                
            </div>

            <div class="footer_inner">                
                <p>Copyright © Jinbro. All Rights Reserved.</p>
            </div>
        </footer>   

		<!-- firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase-auth.js"></script>
		<script src="/javascripts/firebase/firebase-init.js"></script>
		<% if(isLoginPage) { %>
		<script src="/javascripts/firebase/firebase-btn.js"></script>
		<% } %>
        <!-- font-awesome -->
        <script src="https://use.fontawesome.com/37c08f7c40.js"></script>
		<!-- nav-changer -->
        <script src="/javascripts/all/nav_changer.js"></script>
    </body>
</html> 
